/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f6fb;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 50px auto;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.product-card {
    text-align: center;
    background-color: #f9f9f9;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.product-card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-info h2 {
    font-size: 18px;
    color: #333;
    margin: 5px 0;
}

.product-info p {
    color: #555;
    font-size: 14px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #2dcf21;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
    margin-left: 5px;
}

button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #005fa3;
} */

.container {
    width: 1000px;
  height: 500px;
  background-color: rgb(255, 165, 39);
  border: 3px solid black;
  color: tomato;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4,100px);
  grid-template-rows: repeat(3,100px);
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-auto-columns: 60px;
  /* grid-template-areas: "header header header header" 
                          "main main . sidebar"
                          "footer footer footer footer"; */
    
}
.item {
    width: 100px;
  height: 100px;
  background-color: lime;
  border: 3px solid black;
 color: black;
 text-align: center;
  align-content: center;
  /* margin: 10px; */
    
}
/* .item1 {
    grid-area: header;
}
.item2 {
    grid-area: main;
}
.item3 {
    grid-area: sidebar;
}
.item4 {
    grid-area: footer;
} */